.container {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color: transparent;
}

@font-face {
  font-family: 'coco';
  src: local('coco'), url(../font/COCOGOOSE/Cocogoose_trial.otf) format('truetype');
}

.coco {
  font-family: 'coco';
}

.underline {
  border-bottom: 1px solid #fff;
}

.report_table {
  width: 54%;
  right: 0;
  left: 5% !important;
  top: 41% !important;
  height: 50%;
  margin: auto;
  list-style: none;
}

.report_table li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 12%;
}

.report_table li .text_box .underline {
  border-bottom: initial;
  text-decoration: underline;
}

.text_box {
  position: absolute;
  padding-left: 7%;
  top: 15%;
  width: 80%;
  color: #fff;
  font-size: 0.8vw;
}

.text_box_second {
  top: 50%;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3vw;
  width: 64%;
  left: 14% !important;
  padding: 1.3% 2%;
  z-index: 1;
  text-align: left !important;
  color: #fff;
}

.img_bottom {
  width: 5%;
  top: 29% !important;
}

.coloring {
  color: #21ff21;
}

.text_box_answer {
  left: 68% !important;
  font-size: 0.8vw;
  top: 40% !important;
}

.speaker {
  width: 4%;
  left: 1% !important;
  top: 19% !important;
  z-index: 10;
}

.ans_box {
  position: absolute;
  width: 28%;
  height: 50%;
  left: 6%;
  top: 27.7%;
  text-align: center;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.3vw;
  color: #fff;
}

.position_1 {
  left: 36.6%;
}

.position_2 {
  left: 67.5%;
}

* {
  box-sizing: border-box;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.vertical_center {
  width: 24%;
  top: 45.4%;
}

.dummy_box {
  position: absolute;
  height: 7%;
}

.full_center {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-top: 55.25%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media print {
  .prevent_print {
    display: none;
  }
}

.animation_effect {
  transition: all 1s cubic-bezier(0, 0.2, 1, -0.34);
}

.full-width {
  width: 100%;
}

.hover_scale {
  transition: transform .2s;
}

.hover_scale:hover {
  transform: scale(1.3);
}

.full_center img {
  width: 30%;
  top: 30%;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.row {
  width: 100%;
}

.row .img_left {
  left: 7%;
  width: 40%;
}

.row .img_right {
  right: 8%;
  width: 40%;
  left: initial;
}

.col-md-2 {
  width: calc(100% / 2);
  margin: 10px;
  text-align: center;
}

.center {
  text-align: center;
  margin: auto;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.bottom-right {
  left: initial;
  bottom: 5%;
  right: 5%;
}